@value mobile-width: 620px;

.container {
  /* Compensate for header height: */
  margin: 0 auto;
  margin-top: 60px;
  padding-top: 40px;
  border-top: 2px solid rgba(0, 0, 0, 0.12);
  max-width: 800px;
  &:first-child {
    border-top: none;
    margin-top: 30px;
  }
}

.title {
  margin-top: 30px;
  font-size: 28px;
  font-weight: 300;
  color: #5d3232;
  @media all and (max-width: mobile-width) {
    text-align: center;
  }
}

.text-container {
  /*min-height: 400px;*/
  color: #543939;
  font-size: 17px;
}

